.weather-display-continer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weather-temp-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: .5rem;
  justify-content: center;
}

.weather-img {
  padding-right: .5rem;
}

.todays-weather {
  padding-top: 8%;
}

.todays-weather img,
.weather-temp-container {
  width: 10rem;
  height: 10rem;
}

.forecast-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-container-300 {
  font-family: 'Work Sans', sans-serif;
  font-size: x-large;
  font-weight: 300;
}

.todays-temp {
  font-family: 'Sarpanch', sans-serif;
  font-weight: 600;
  font-size: 3.5em;
  transform: scaleY(1.35);
}

.todays-conditions {
  font-family: 'Work Sans', sans-serif;
  font-size: x-large;
  font-weight: 300;
}
