.weather-display {
  margin: 4rem;
  padding-bottom: 2rem;
  box-shadow: 0px 1px 10px gray, 
  1px .5px 10px gray, 1px .5px 10px gray;
}

.weather-display-continer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-temp-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: .5rem;
  justify-content: center;
}

.weather-img {
  padding-right: .5rem;
}

.todays-weather {
  padding-top: 8%;
}

.todays-weather img,
.weather-temp-container {
  width: 10rem;
  height: 10rem;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4rem;
}

.forecast-container div {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.forecast-container img {
  width: 6.5rem;
}

.text-container-300 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.todays-temp {
  font-family: 'Sarpanch', sans-serif;
  font-weight: 600;
  font-size: 3.5em;
  transform: scaleY(1.35);
}

.todays-conditions,
.forecast-day {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.forecast-temp {
  font-family: 'Sarpanch', sans-serif;
  transform: scaleY(2);
}

.forecast-day { font-size: 1.25rem }

@media only screen and (max-width: 400px) {
  .todays-weather img {
    width: 6rem;
    height: 6rem;
  }
  .todays-temp {
    font-size: 2rem;
  }
}