
.weather-header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-top: 5rem;
}

.city-toggle {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-weight: 300;
  font-size: 150%;
  font-family: 'Work Sans', sans-serif;
}

.city-toggle:hover {
  cursor: pointer;
}

.selected-city {
  color: #5fb0e8;
  font-size: 150%;
  font-weight: 600;
  font-family:'Work Sans', sans-serif;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
